{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 200,

  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.js",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
